{{#link-to 'aircrafts'}}
    {{fa-icon "expand" size=3}}    
{{/link-to}}
<br><br>
<div>
    {{#each aircraftPosition as |aircraft|}}
        <div class="position">
            {{#cp-panel as |p|}}
                {{#p.toggle}}
                    <p class="accordionHeader">{{aircraft.ID}} </p>
                    {{!-- <p>ssssss</p> --}}
                {{/p.toggle}}

                {{#p.body}}
                    {{#each-in aircraft as |key value|}}
                    <br>
                    <p class="container-content-body">
                        `{{key}}`:`{{value}}`
                    </p>                    
                    {{/each-in}}
                {{/p.body}}
            {{/cp-panel}}
            
            <br><br><br>    
        </div>        
    {{/each}} 
</div>