<div>
    {{#each aircraftPosition as |aircraft|}}
        <div class="position">
            {{#each-in aircraft as |key value|}}
                <br>
                `{{key}}`:`{{value}}`
            {{/each-in}}
            <br><br><br>    
        </div>        
    {{/each}} 
</div>
