/* import { Bootstrap } from 'bootstrap'; */
@import 'bootstrap';

html {
    height: 100%;
}

body {
    background: rgb(36, 80, 131);
    /* background: linear-gradient(skyblue, aqua, aqua, white); */
    
}

/* will need to do a media-query for smaller devices later */
svg {
    height:12vh;
    width:6vw;
}

.tooltip-error {
  background-color: #24b424;
  color: rgb(77, 191, 24);
}

.accordionHeader {
  color: #343417;
}

.cp-Panel {
  border: 1px solid #ddd;
  color:#313124;
}

.aircraftsContainer {
    /* background: rgb(43, 133, 128); */
    background: #39B7CD;
}

.aircraftsPositionsContainer {
    /* background: blue; */
    background: #65909A;
} 

.flightsContainer { 
    background: #0EBFE9;
}
.aviationData {  
    height: 45vh;
    overflow-y: scroll;
    /* background: rgb(157, 115, 44); */
}

.position:nth-child(odd) {
    background: rgb(233, 220, 220);
    margin:50px 0px;
}


.projects-list{

  /* height:70vh; */
  overflow-y: scroll;
  padding:0.7vw;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom:0.7vh;
  margin-top:1.7vh;

  background: rgb(64, 64, 145);
}


/* .aircraftsContainer, .aircraftsPositionsContainer, .flightsContainer::-webkit-scrollbar-thumb { */
.customScrollbar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(73, 73, 131);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


/* .aircraftsContainer, .aircraftsPositionsContainer, .flightsContainer::-webkit-scrollbar { */
.customScrollbar::-webkit-scrollbar {    
  width: 12px;  
}

/*seems to control rendering of inner scrollbar*/
/* .aircraftsContainer, aircraftsPositionsContainer, .flightsContainer::-webkit-scrollbar-track { */
.customScrollbar::-webkit-scrollbar-track {        
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom:0.7vh;
  margin-top:1.7vh;

  background: rgb(120, 120, 147);
}


/* body > div > div {
  border: 1px solid white;
  border-radius: 10px;
  width: 95%;
  margin: 3vh auto;
} */


h3 {
  font-size: 6vh;
}

a:hover {
  color: gray;
}

div {
  font-size: 16px;
}

.container-peripheral-heading {
  color: white;
}

.container-peripheral-filtering {
  color: white;
  font-size: 16px;
  float: right;
}

.infoContainer {
  border-radius: 5px;  
  border-width: 5px;
  /* border-color: yellow; */
  /* border-style: solid */
}

.accordionHeader {
  text-align: center;
}

.container-content-body {
  /* text-align: center;   */
  margin-left: 3vw;
}






.sliding-middle-out:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

.sliding-middle-out span {
  color:blue;
  text-align: center;
}

.sliding-middle-out:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
  width: 100%;
  background: rgb(165, 39, 197);
}
