{{outlet}}

<br><br>
<h1>hello hello</h1>
<h3>later we should put the table counter inside the component(but still outside the table in terms of UI) so that we don't need to repeat ourselves</h3>
<br><br>
<div class="col-lg-5"> {{aircraft-list aircraftList=aircraftList}} </div>

<div class="col-lg-offset-1 col-lg-5 "> {{aircraft-positions aircraftPosition=aircraftPosition}} </div>