{{outlet}}
<br>
potatoes
<br><br>


{{#cp-panel as |p|}}
  {{#p.toggle}}
    <p>Click me!</p>
  {{/p.toggle}}

  {{#p.body}}
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo repellendus nisi asperiores esse aperiam aliquid nulla ad dolor autem neque, nihil inventore temporibus delectus earum facere corporis, quam ipsum maxime.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus neque magnam, hic quis beatae repellendus harum modi pariatur minus quidem alias! Eius incidunt impedit eaque, est, illo officiis expedita molestiae.</p>
    </div>
  {{/p.body}}
{{/cp-panel}}

<br><br>

<svg  >
  <circle cx="50" cy="50" r="10" stroke="white" stroke-width="1.5" fill="rgb(43, 133, 128)" />  
</svg> 
<div class="sliding-middle-out">
	¬ Aircrafts
</div>


<svg >
  <circle cx="50" cy="50" r="10" stroke="white" stroke-width="1.5" fill="blue" />  
</svg> 
<div class="sliding-middle-out">
	¬ Aircraft Positions
</div>

<svg >
  <circle cx="50" cy="50" r="10" stroke="white" stroke-width="1.5" fill="yellow" />  
</svg> 
<div class="sliding-middle-out">
	¬ Flights
</div>

<div>
	<div>
		<div class="col-lg-offset-1 col-lg-3"> {{aircraft-list}} </div>
		<div class="col-lg-offset-1 col-lg-3"> 
			{{aircraft-positions}} 			
		</div>
		<div class="col-lg-offset-1 col-lg-3"> {{flight-list}} </div>
		
	</div>
</div>





